mixin inputText(options)
    if !options
        - options = {}
    .input-text
        .input-text__info.heading3
            .input-text__name
                label(for='input-text__inp')= options.label
            .input-text__state= options.state
        .input-text__field
            input(type = options.type placeholder = options.placeholder class!=`input-text__inp ${attributes.class}`)