@import '~@theme/variables.scss';
@import '~@theme/fonts.scss';
@import '~@theme/base.scss';


.rate-button {
  position: relative;
  width: 120px;
  height: 24px;
  user-select: none;
}

.rate-button__lower {
  position: absolute;
}

.rate-button__upper {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.rate-button__star {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-family: 'Material Icons';
  font-size: 24px;
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $primary-color;
}
