mixin rateButton(rate)
    div(class="rate-button" data-rate=rate)
        div(class="rate-button__lower")
            span(class="rate-button__star") star_border
            span(class="rate-button__star") star_border
            span(class="rate-button__star") star_border
            span(class="rate-button__star") star_border
            span(class="rate-button__star") star_border
        div(class="rate-button__upper")
            span(class="rate-button__star") star
            span(class="rate-button__star") star
            span(class="rate-button__star") star
            span(class="rate-button__star") star
            span(class="rate-button__star") star
