mixin radioButtons(title, label1, label2)
    div(class="radio-buttons")
        div(class="radio-buttons__title heading3")= title
        div(class="radio-buttons__list")
            input(class="radio-buttons__inp" type="radio"  id="radio-buttons__man" name="gender" value="man" checked)
            label(for="radio-buttons__man")= label1
            input(class="radio-buttons__inp" type="radio"  id="radio-buttons__woman" name="gender" value="woman")
            label(for="radio-buttons__woman")= label2