.sign-in {
  width: auto;
  max-width: 380px;
  min-width: 300px;
  background: $background-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 4.75rem 3.625rem 3.75rem;
}

.sign-in__title {
  padding-bottom: 2.5rem;
}

.sign-in__email {
  padding-bottom: 1.25rem;
}

.sign-in__password {
  padding-bottom: 2.5rem;
}

.sign-in__arrow-button {
  padding-bottom: 3.75rem;
}

.sign-in__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 380px) {
  .sign-in {
    padding: 15px;
  }
}
