div(class="room-custom-message iqdropdown")
    p(class="iqdropdown-selection")
    div(class="iqdropdown-menu")
        div(class="iqdropdown-menu-option" data-id="bedroom" data-defaultcount="0")
            div
                p(class="iqdropdown-item") Спальни
        div(class="iqdropdown-menu-option" data-id="bed" data-defaultcount="0")
            div
                p(class="iqdropdown-item") Кровати
        div(class="iqdropdown-menu-option" data-id="bathroom" data-defaultcount="0")
            div
                p(class="iqdropdown-item") Ванные комнаты