@import '~@theme/variables.scss';
@import '~@theme/fonts.scss';
@import '~@theme/base.scss';


.room-dropdown {
  width: 266px;
}
.room-dropdown__info {
  display: flex;
  justify-content: space-between;
  height: 23px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $dark100;
}

.room-dropdown__name {
  align-self: center;
}

.room-dropdown__inp {
  display: block;
  width: 100%;
  height: $input-height;
  border: 1px solid $dark25;
  border-radius: 4px 4px 0px 0px;
  background: $background-color;
  padding-left: 15px;
}

.room-dropdown__state {
  align-self: flex-start;
  font-weight: normal;
  color: $dark50;
}

.room-dropdown__inp::placeholder {
  color: $dark25;
}

.room-dropdown__inp:hover {
  border-color: $dark50;
}

.room-dropdown__inp:focus {
  border-color: $dark50;
  outline: none;
}

.room-dropdown__inp:hover::placeholder {
  color: $dark75;
}

.room-dropdown__inp:focus::placeholder {
  color: $dark75;
}

.iqdropdown .iqdropdown-selection::after {
  display: none;
}

.iqdropdown .iqdropdown-item-controls button {
  height: unset;
  padding: unset;
}
.iqdropdown .icon-decrement {
  all: initial;
}

.iqdropdown .icon-decrement::after {
  all: initial;
}

.iqdropdown .icon-decrement.icon-increment::before {
  all: initial;
}

.iqdropdown {
  border-radius: 4px 4px 0px 0px;
  border-color: $dark25;
  height: $input-height;
  padding: unset;
}

.iqdropdown .iqdropdown-selection {
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 13px;
}

.iqdropdown.menu-open {
  border-color: $dark50;
}

.room-dropdown .iqdropdown .iqdropdown-menu {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid $dark50;
  box-shadow: 0px 10px 20px $dark5;
  top: $input-height;
  height: 119px;
}

.iqdropdown .iqdropdown-menu-option {
  height: unset;
  padding-left: 15px;
  padding-right: 7px;
}

.iqdropdown-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark100;
}

.iqdropdown .iqdropdown-item-controls {
  align-items: center;
  height: 38px;
}

.iqdropdown .iqdropdown-item-controls .counter {
  all: initial;
  width: 32px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark100;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  width: 30px;
  height: 30px;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 22px;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement::after {
  content: "-";
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  margin: auto;
  color: $dark50;
}

.iqdropdown .iqdropdown-item-controls button.button-increment {
  width: 30px;
  height: 30px;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 22px;
}

.iqdropdown .iqdropdown-item-controls button.button-increment::after {
  content: "+";
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  margin: auto;
  color: $dark50;
}

.room-dropdown__micons {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark75;
  width: 40px;
  height: 40px;
}
.room-dropdown__micons::after {
  content: "expand_more";
}
.iqdropdown.iqdropdown.menu-open .room-dropdown__micons::after {
  content: "expand_less";
}
