.footer-creative
    .footer-creative__wrap
        .footer-creative__logo
            include ../../components/logo/logo.pug
            +logo('colored', 'toxin')
        .footer-creative__copyright Copyright © 2018 Toxin отель. Все права зачищены. 
        .footer-creative__icons
            .footer-creative__icon
                a(href="#")
                    i.fab.fa-twitter.fa-2x
            .footer-creative__icon
                a(href="#")
                    i.fab.fa-facebook-square.fa-2x
            .footer-creative__icon
                a(href="#")
                    i.fab.fa-instagram.fa-2x