mixin submenu(options)
    ul.menu__sub
        each item in options.items
            li.menu__item
                a(href="#")= item.name
mixin topmenu(options)
    nav.menu
        ul.menu__top
            each item in options.items
                if item.isActive
                    li.menu__item
                        a.menu__item_active(href="#")= item.name
                else
                    li.menu__item    
                        a(href="#")= item.name
                        if item.items
                            +submenu(item)