.like-button {
    display: flex;
    user-select: none;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: $white;
    border: 1px solid $dark25;
    border-radius: 10px;
}

.like-button_clicked {
    border-color: $purple;
}


.like-button__micons {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    width: 20px;
    height: 20px;
    display: flex;
    color: $dark25;
}   

.like-button__micons::after {
    content: 'favorite_border';
    margin: auto;
}

.like-button_clicked .like-button__micons::after {
    content: 'favorite';
    color: $purple;
    margin: auto;
}


.like-button__counter {
    font-size: 10px;
    line-height: 20px;
    color: $dark25;
    width: 20px;
    height: 20px;
    padding-left: 2px;
}

.like-button_clicked .like-button__counter {
    color: $purple;
}
