mixin likeButton(options)
    if !options
        - options = {}
    div(class=`like-button ${options.className}`)
        span.like-button__micons
        span.like-button__counter= options.numberOfLikes