mixin subscription(label)
    div(class="subscription")
        div(class="subscription__label heading3")= label || ''
        div(class="subscription__field")
            input(type="email" class="subscription__input" placeholder="Email")
            span(class="subscription__micons") arrow_forward
            