mixin subscription(label)
    .subscription
        .subscription__label.heading3= label || ''
        .subscription__field
            input(type="email" class="subscription__input" placeholder="Email")
            span.subscription__micons arrow_forward