.range-slider__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .range-slider__title {
    line-height: 2.75rem;
  }

  .range-slider__value {
    font-weight: normal;
    color: $dark50;
  }