mixin rangeSlider(title)
    div(class="range-slider")
        div(class="range-slider__header heading3")
            div(class="range-slider__title")= title 
            div(class="range-slider__value")
                span(class="range-slider__from")
                span(class="range-slider__to")
        input(type="text" class="range-slider__input" name="my_range" value="")