html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Elements
    body
        div(class="form-elements")
            div(class="form-elements__wrap1")
                div(class="form-elements__first")
                div(class="form-elements__second")
                div(class="form-elements__third")
            div(class="form-elements__wrap2")
                div(class="form-elements__info")
                div(class="form-elements__reviews")