html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Form Elements
    body
        .form-elements__logo
            include /components/logo/logo.pug
            +logo('dark')
        .form-elements
            .form-elements__col1
                .form-elements__input
                    include /components/input-text/input-text.pug
                    +inputText({
                        type: 'email',
                        placeholder: 'Email',
                        label: 'text field',
                        state: 'default',
                    })
                .form-elements__input2
                    +inputText({
                        type: 'text',
                        placeholder: 'This is pretty awesome',
                        label: 'text field',
                        state: 'hover / focus',
                    })(class='input-text__inp_focus')
                .form-elements__guest-dropdown
                    include /components/guest-dropdown/guest-dropdown.pug
                    +guestDropdown({
                        label: 'Dropdown',
                        state: 'Default'
                    })
                .form-elements__masked-input
                    include /components/masked-input/masked-input.pug
                    +maskedInput({
                        type: 'text',
                        placeholder: 'ДД.ММ.ГГГГ',
                        label: 'masked text field',
                        state: 'default'
                    })
                .form-elements__date-dropdown
                    include /components/date-dropdown/date-dropdown.pug
                    +dateDropdown({
                        arrivalDate: 'date dropdown',
                        departureDate: 'date dropdown'
                    })
                .form-elements__filter
                    include /components/filterdate-dropdown/filterdate-dropdown.pug
                    +filterDateDropdown({
                        title: 'filter date dropdown'
                    })
                .form-elements__subscription
                    include /components/subscription/subscription.pug
                    +subscription('subscription text field')
            .form-elements__col2
                .form-elements__checkbut
                    include /components/checkbox-buttons/checkbox-buttons.pug
                    +checkboxButtons({
                        title: 'Checkbox Buttons',
                        label1: 'Можно курить',
                        label2: 'Можно с питомцами',
                        label3: 'Можно пригласить гостей (до 10 человек)'
                    })
                .heading3 radio buttons
                .form-elements__radiobuttons
                    include /components/radio-buttons/radio-buttons.pug
                    +radioButtons('Мужчина', 'Женщина')
                .heading3 toggle
                .form-elements__toggle
                    include /components/toggle/toggle.pug
                    +toggle('Получать спецпредложения')
                .heading3 like button
                .form-elements__like-button
                    include /components/like-button/like-button.pug
                    +likeButton
                    +likeButton('like-button_clicked')
                .heading3 rate button
                .form-elements__rate-button
                    include /components/rate-button/rate-button.pug
                    +rateButton(3.5)
                    +rateButton(5)
            .form-elements__col3
                .form-elements__range-slider
                    include /components/range-slider/range-slider.pug
                    +rangeSlider('range slider')
                .heading3 buttons
                .form-elements__buttons
                    include /components/button/button.pug
                    .form-elements__filled-button
                        +button({name: 'filled'})
                    .form-elements__empty-button
                        +button({name: 'empty'})
                    .form-elements__link-buttons
                        +button({name: 'link_purple'})
                        +button({name: 'link_dark'})
                .form-elements__arrow-button
                        include /components/arrow-button/arrow-button.pug
                        +arrowButton({
                            name: 'Перейти к оплате'
                        })
                .heading3 pagination
                .form-elements__pagination
                        include /components/pagination/pagination.pug
                        +pagination
            .form-elements__col4
                .form-elements__room-dropdown
                    include /components/room-dropdown/room-dropdown.pug
                    +roomDropdown({
                        label: 'Dropdown',
                        state: 'Default',
                        bedroom: 2,
                        bed: 2
                    })
                div
                    include /components/room-dropdown/room-dropdown.pug
                    +roomDropdown({
                        label: 'Dropdown',
                        state: 'Default',
                        className: 'menu-open',
                        bedroom: 2,
                        bed: 2
                    })
                .form-elements__expcheck
                    include /components/expand-checkbox/expand-checkbox.pug
                    +expandCheckbox({
                        title: 'expandable checkbox list',
                        n: 1,
                        items: [
                            {
                                label: 'Завтрак',
                                value: 'breakfast'
                            },
                            {
                                label: 'Письменный стол',
                                value: 'desk'
                            },
                            {
                                label: 'Стул для кормления',
                                value: 'highchair'
                            },
                            {
                                label: 'Кроватка',
                                value: 'baby-bed'
                            },
                            {
                                label: 'Телевизор',
                                value: 'tv'
                            },
                            {
                                label: 'Шампунь',
                                value: 'shampoo'
                            }
                        ]
                    })
                .form-elements__expcheck2
                    include /components/expand-checkbox/expand-checkbox.pug
                    +expandCheckbox({
                        title: 'expandable checkbox list',
                        n: 2,
                        items: [
                            {
                                label: 'Завтрак',
                                value: 'breakfast'
                            },
                            {
                                label: 'Письменный стол',
                                value: 'desk'
                            },
                            {
                                label: 'Стул для кормления',
                                value: 'highchair'
                            },
                            {
                                label: 'Кроватка',
                                value: 'baby-bed'
                            },
                            {
                                label: 'Телевизор',
                                value: 'tv'
                            },
                            {
                                label: 'Шампунь',
                                value: 'shampoo'
                            }
                        ]
                    })
            .form-elements__col5
                div
                    include /components/guest-dropdown/guest-dropdown.pug
                    +guestDropdown({
                        label: 'Dropdown',
                        className: 'menu-open'
                    })
                .form-elements__richcheck
                    include /components/rich-checkbox/rich-checkbox.pug
                    +richCheckbox({
                        title: 'Rich Checkbox Buttons',
                        items: [
                            {
                                label: 'Широкий коридор',
                                description: 'Ширина коридоров в номере не менее 91 см.',
                                value: 'wide-corridor'
                            },
                            {
                                label: 'Помощник для инвалидов',
                                description: 'На 1 этаже вас встретит специалист и проводит до номера.',
                                value: 'assistent'
                            }
                        ]
                    })
            .form-elements__col6
                div
                    include /components/guest-dropdown/guest-dropdown.pug
                    +guestDropdown({
                        label: 'Dropdown',
                        className: 'menu-open',
                        adult: 2,
                        minor: 1
                    })
                .form-elements__bullet
                    include /components/bullet-list/bullet-list.pug
                    +bulletList({
                        title: 'Bullet list',
                        list: [
                            'Нельзя с питомцами',
                            'Без вечеринок и мероприятий',
                            'Время прибытия — после 13:00, а выезд до 12:00'
                        ]
                    })
            .form-elements__info
                include /components/room-info/room-info.pug
                +roomInfo({
                    icon: 'insert_emoticon',
                    title: 'Комфорт',
                    text: 'Шумопоглощающие стены'
                })
                .form-elements__line
                +roomInfo({
                    icon: 'location_city',
                    title: 'Удобство',
                    text: 'Окно в каждой из спален'
                })
                .form-elements__line
            .form-elements__reviews
                include /components/review/review.pug
                +review({
                    url: '/images/review-photo.png',
                    name: 'Мурад Сарафанов',
                    daysAgo: '5 дней назад',
                    text: `Великолепный матрас на кровати в основной спальне!
                    А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.
                    Выкрикивал комплименты повару — никто не жаловался из соседей.`
                })
