html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Elements
    body
        div(class="form-elements")

            div(class="form-elements__wrap1")

                div(class="form-elements__first")
                    div(class="form-elements__inputwrap")
                        include ../../components/input-text/input-text.pug
                        +inputText('email', 'Email', 'text field', 'default')
                    div(class="form-elements__inputwrap2")
                        +inputText('text', 'This is pretty awesome', 'text field','hover/focus')(class="input-text__inp_focus")
                    div(class="form-elements__guest-dropdownwrap")
                        include ../../components/guest-dropdown/guest-dropdown.pug
                        +guestDropdown('Dropdown', 'Default')
                    div(class="form-elements__masked-input")
                        include ../../components/masked-input/masked-input.pug
                        +maskedInput('text', 'ДД.ММ.ГГГГ', 'masked text field', 'default')
                    div(class="form-elements__date-dropdownwrap")
                        include ../../components/date-dropdown/date-dropdown.pug
                        +dateDropdown('date dropdown', 'date dropdown')
                    div(class="form-elements__filterwrap")
                        include ../../components/filterdate-dropdown/filterdate-dropdown.pug
                        +filterDateDropdown('filter date dropdown')
                    div(class="form-elements__subscription")
                        include ../../components/subscription/subscription.pug
                        +subscription('subscription text field')
                    
                    

                div(class="form-elements__second")
                    div(class="form-elements__checkbutwrap")
                        include ../../components/checkbox-buttons/checkbox-buttons.pug
                        +checkboxButtons('Checkbox Buttons', 'Можно курить', 'Можно с питомцами', ' Можно пригласить гостей (до 10 человек)')
                    div(class="form-elements__radiowrap")
                        include ../../components/radio-buttons/radio-buttons.pug
                        +radioButtons('Radio Buttons', 'Мужчина', 'Женщина')
                    div.heading3 toggle
                    div(class="form-elements__toggle")
                        include ../../components/toggle/toggle.pug
                        +toggle('Получать спецпредложения')
                div(class="form-elements__third")

            
            div(class="form-elements__wrap2")
                div(class="form-elements__2-1")
                    div(class="form-elements__room-dropdown")
                        include ../../components/room-dropdown/room-dropdown.pug
                        +roomDropdown('Dropdown', 'Default', ' ', 2, 2)
                    div
                        include ../../components/room-dropdown/room-dropdown.pug
                        +roomDropdown('Dropdown', 'Expanded', 'menu-open', 2, 2) 
                    div(class="form-elements__expcheckwrap")
                        include ../../components/expand-checkbox/expand-checkbox.pug 
                        +expandCheckbox('expandable checkbox list', 'Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор','Шампунь')
                    div(class="form-elements__expcheckwrap")
                        include ../../components/expand-checkbox/expand-checkbox.pug 
                        +expandCheckbox('expandable checkbox list', 'Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор','Шампунь')
                div(class="form-elements__2-2")
                    div
                        include ../../components/guest-dropdown/guest-dropdown.pug
                        +guestDropdown('Dropdown', ' ', 'menu-open')
                    div(class="form-elements__richcheckwrap")
                        include ../../components/rich-checkbox/rich-checkbox.pug
                        +richCheckbox('Rich Checkbox Buttons', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')
                div(class="form-elements__2-3")
                    div
                        include ../../components/guest-dropdown/guest-dropdown.pug
                        +guestDropdown('Dropdown', ' ', 'menu-open', 2, 1)
                    div(class="form-elements__bulletwrap")
                        include ../../components/bullet-list/bullet-list.pug
                        +bulletList('Bullet list', 'Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')

                        
            div(class="form-elements__wrap3")
                div(class="form-elements__info")
                div(class="form-elements__reviews")

            //- div
            //-     include ../../components/guest-dropdown/guest-dropdown.pug
            //- div
            //-     include ../../components/room-dropdown/room-dropdown.pug

