@import '~@theme/variables.scss';
@import '~@theme/fonts.scss';
@import '~@theme/base.scss';
@import '~@components/logo/logo.scss';
@import '~@components/input-text/input-text.scss';
@import '~@components/guest-dropdown/guest-dropdown.scss';
@import '~@components/room-dropdown/room-dropdown.scss';
@import '~@components/date-dropdown/date-dropdown.scss';
@import '~@components/filterdate-dropdown/filterdate-dropdown.scss';
@import '~@components/masked-input/masked-input.scss';
@import '~@components/subscription/subscription.scss';
@import '~@components/checkbox-buttons/checkbox-buttons.scss';
@import '~@components/expand-checkbox/expand-checkbox.scss';
@import '~@components/rich-checkbox/rich-checkbox.scss';
@import '~@components/bullet-list/bullet-list.scss';
@import '~@components/radio-buttons/radio-buttons.scss';
@import '~@components/toggle/toggle.scss';
@import '~@components/like-button/like-button.scss';
@import '~@components/rate-button/rate-button.scss';
@import '~@components/range-slider/range-slider.scss';
@import '~@components/range-slider/range-slider_hotel.scss';
@import '~@components/button/button.scss';
@import '~@components/arrow-button/arrow-button.scss';
@import '~@components/pagination/pagination.scss';
@import '~@components/review/review.scss';
@import '~@components/room-info/room-info.scss';


.form-elements {
  width: auto;
  height: 100%;
  min-width: 320px;
  max-width: 1920px;
  padding: 4.3% 9.79166% 9.09722% 9.79166%;
  display: flex;
  flex-wrap: wrap;
}
.form-elements__logo {
  margin-top: 2.0833%;
  margin-left: 2.0833%;
}
.form-elements__col1 {
  flex: 1 1 446px;
}
.form-elements__input {
  padding-bottom: 17px;
}
.form-elements__input2 {
  padding-bottom: 17px;
}
.form-elements__guest-dropdown {
  padding-bottom: 20px;
}
.form-elements__masked-input {
  padding-bottom: 15px;
}
.form-elements__date-dropdown {
  padding-top: 22px;
  padding-bottom: 38px;
}
.form-elements__filter {
  padding-bottom: 38px;
}
.form-elements__subscription {
  width: 267px;
  padding-bottom: 97px;
}
.form-elements__col2 {
  flex: 1 1 392px;
}
.form-elements__checkbut {
  width: 222px;
  padding-bottom: 31px;
}
.form-elements__radiobuttons {
  padding-top: 14px;
  padding-bottom: 35px;
}
.form-elements__toggle {
  padding-top: 13px;
  padding-bottom: 64px;
}
.form-elements__like-button {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding-top: 16px;
  padding-bottom: 40px;
}
.form-elements__rate-button {
  padding-top: 16px;
  display: flex;
  width: 260px;
  justify-content: space-between;
}
.form-elements__col3 {
    flex: 1 1 320px;
}
.form-elements__range-slider {
  width: 266px;
  padding-bottom: 34px;
}
.form-elements__filled-button {
  padding-top: 16px;
}
.form-elements__empty-button {
  padding-top: 30px;
}
.form-elements__link-buttons {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  width: 142px;
}
.form-elements__arrow-button {
  padding-top: 26px;
  padding-bottom: 40px;
}
.form-elements__pagination {
  padding-top: 16px;
}
.form-elements__col4 {
  flex: 1 1 446px;
}
.form-elements__room-dropdown {
  padding-bottom: 16px;
}

.form-elements__expcheck {
  padding-top: 161px;
}

.form-elements__expcheck2 {
  padding-top: 20px;
}
.form-elements__col5 {
  flex: 1 1 392px;
}
.form-elements__richcheck {
  padding-top: 257px;
  padding-bottom: 200px;
}
.form-elements__col6 {
  flex: 1 1 320px;
}
.form-elements__bullet {
  padding-top: 256px;
}
.form-elements__info {
  flex: 1 1 446px;
  padding-top: 12px;
}
.form-elements__line {
  width: 280px;
  height: 1px;
  background: $dark10;
  margin-bottom: 2.5rem;
}
.form-elements__reviews {
  flex: 1 1 712px;
  padding-top: 22px;
}

@media (max-width: 1439px) {
  .form-elements {
    padding-left: 5%;
    padding-right: 5%;
  }
  .form-elements__col1, .form-elements__col2, .form-elements__col3,
  .form-elements__col4, .form-elements__col5, .form-elements__col6 {
    flex: 1 1 30%;
  }
  .form-elements__info{
    flex: 1 1 30%;
  }
  .form-elements__reviews{
    flex: 1 1 70%;
  }
}

@media (max-width: 1200px) {
  .form-elements__logo {
    width: 36px;
    height: 36px;
    background-size: cover;
  }
  .form-elements {
    padding-left: 10%;
    padding-right: 5%;
  }
  .form-elements__col1, .form-elements__col2, .form-elements__col3,
  .form-elements__col4, .form-elements__col5, .form-elements__col6, .form-elements__info,
  .form-elements__reviews {
    flex: 1 1 50%;
  }
  .form-elements__richcheck {
    padding-bottom: 50px;
  }
  .form-elements__pagination {
    padding-bottom: 30px;
  }
}

@media (max-width: 820px) {
  .form-elements {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-elements__subscription {
    padding-bottom: 30px;
  }
  .form-elements__rate-button {
    padding-bottom: 30px;
  }
  .form-elements__expcheck2 {
    padding-bottom: 30px;
  }
  .form-elements__richcheck {
    padding-top: 200px;
  }
  .form-elements__bullet {
    padding-top: 200px;
  }
}

@media (max-width: 720px) {
  .form-elements {
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 360px) {
  .form-elements {
    padding-left: 15px;
    padding-right: 15px;
  }
}

