.form-elements {
    box-sizing: border-box;
    width: 1440px;
    height: 1853px;
    padding-top: 140px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 130px;
}

.form-elements__wrap1 {
    display: flex;
}

.form-elements__first{
    flex: 1 1 38.534482%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-elements__second{
    flex: 1 1 30.732759%;
}

.form-elements__third{
    flex: 1 1 30.732759%;
    background-color: #ebebeb;
}



.form-elements__wrap2 {
    display: flex;
    align-items: flex-start;
}

.form-elements__2-1 {
    flex: 1 1 38.534482%;
    // background-color: #ededed;
}

.form-elements__2-2 {
    flex: 1 1 30.732759%;
    // background-color: goldenrod;
}

.form-elements__2-3 {
    flex: 1 1 30.732759%;
    // background-color: gainsboro;
}





.form-elements__wrap3 {
    display: flex;
    height: 200px;
    
}

.form-elements__info {
    flex: 1 1 38.534482%;
    background-color: #dbd7d2;
}

.form-elements__reviews {
    flex: 1 1 61.465518%;
    background-color: #bababa;
}



//компоненты

.form-elements__inputwrap {
    padding-bottom: 17px;
}

.form-elements__inputwrap2 {
    padding-bottom: 17px;
}

.form-elements__guest-dropdownwrap {
    padding-bottom: 17px;
}

.form-elements__masked-input {
    padding-bottom: 17px;
}

.form-elements__date-dropdownwrap {
    padding-top: 22px;
    padding-bottom: 17px;
}

.form-elements__filterwrap {
    padding-bottom: 17px;
}

.form-elements__subscription {
    padding-bottom: 17px;
}





.form-elements__room-dropdown {
    padding-bottom: 17px;
}


.form-elements__expcheckwrap {
    padding-top: 173px;
}

.form-elements__richcheckwrap {
    padding-top: 250px;
    padding-bottom: 200px;
}

.form-elements__bulletwrap {
    padding-top: 250px;
}

.form-elements__radiowrap {
    padding-top: 50px;
    padding-bottom: 39px;
}

.form-elements__toggle {
    padding-top: 13px;
    padding-bottom: 39px;
}

.form-elements__like-button {
    display: flex;
    justify-content: space-between;
    width: 90px;
    padding-top: 16px;
    padding-bottom: 39px;
}


.form-elements__rate-button {
    padding-top: 16px;   
}