.masked-input {
    width: auto;
    max-width: 320px;
    min-width: 280px;
}

.masked-input__info {
    display: flex;
    justify-content: space-between;
    height: 23px;
}

.masked-input__name {
    align-self: center;
    line-height: 22px;
}

.masked-input__state {
    align-self: flex-start;
    font-weight: normal;
    color: $dark50;
}

.masked-input__inp {
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    background: #FFFFFF;
    padding-left: 15px;
}

.masked-input__inp::placeholder {
    color: $dark25;
}


// hover/focus

.masked-input__inp:hover{
    border-color: $dark50;
}

.masked-input__inp:focus, .masked-input__inp_focus {
    border-color: $dark50;
    outline: none;
}

.masked-input__inp:hover::placeholder{
    color: $dark75;
}

.masked-input__inp:focus::placeholder,  .masked-input__inp_focus::placeholder{
    color: $dark75;
}
