mixin maskedInput(options)
    if !options
        - options = {}
    .masked-input
        .masked-input__info.heading3
            .masked-input__name
                label(for='masked-input__inp')= options.label
            .masked-input__state= options.state
        .masked-input__field
            input(type=options.type class='masked-input__inp' placeholder=options.placeholder spellcheck='false')