html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        include /components/favicon/favicon.pug
        title Colors and Type
    body
        .colors-type__logo
            include /components/logo/logo.pug
            +logo('dark')
        .colors-type
            .colors-type__leftwrap
                include /components/color-demo/color-demo.pug
            .colors-type__rightwrap
                include /components/type-demo/type-demo.pug