html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors and Type
    body
        div(class="colors-type__logo ")
        div(class="colors-type") 
            div(class="colors-type__leftwrap")
                include ../../components/color-demo/color-demo.pug
            div(class="colors-type__rightwrap")
                include ../../components/type-demo/type-demo.pug