html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headers and footers
    body
        .headers-footers
            .headers-footers__logo
                include /components/logo/logo.pug
                +logo('dark')
            .headers-footers__header1
                include /components/header/header.pug
                +header
            .headers-footers__header2
                +header({
                    username: 'Юлий Цезарь'
                })
            .headers-footers__footer1
                include /components/footer/footer.pug
            .headers-footers__footer2
                include /components/footer-creative/footer-creative.pug