
.headers-footers {
    background: #f4f4f6;
    height: 100%;
}

.headers-footers__logo {
    margin-top: 30px;
    margin-left: 30px;
}

.headers-footers__header1 {
    padding-top: 62px;
}

.headers-footers__header2 {
    padding-top: 40px;
}

