mixin filterDateDropdown(options)
    if !options
     - options = {}
    .filterdate-dropdown
        .filterdate-dropdown__info.heading3= options.title
        .filterdate-dropdown__field
            input(type='text' class='datepicker-here filterdate-dropdown__input' data-range='true' data-multiple-dates-separator=' - ' readonly)
            span.filterdate-dropdown__micons