mixin bulletList(options)
    if !options
        - options = {}
    .bullet-list
        h3= options.title || ''
        ul.bullet-list__ul
            each item in options.list
                li.bullet-list__item= item

