.type-demo
    .type-demo__name.type-demo__h1 H1
    h1.type-demo__example.heading1 This one is the sub-section or widget title
    .type-demo__name.type-demo__h2 H2
    h2.type-demo__example.heading2 Next one is the item title inside widgets
    .type-demo__name.type-demo__h3 H3
    .type-demo__example.heading3 This is a label or CTA text
    .type-demo__name.type-demo__body Body
    .type-demo__example
        .type-demo__bodystyle This is the body text which is used for most of the design, like paragraphs, lists, etc.
