.room-info {
    display: flex;
    padding-bottom: 1.6rem;
    &__descript {
      padding-left: 1.25rem;
    }
    &__title {
      font-weight: bold;
    }
    &__text {
      white-space: nowrap;
    }
    &__micons {
      font-family: 'Material Icons';
      font-size: 6rem;
      line-height: 6rem;
      background-image: $primary-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $primary-color;
    }
  }