html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        ul UI Kit
            li
                a(href="http://localhost:4200/pages/colors-type.html") Colors & Type
            li
                a(href="http://localhost:4200/pages/form-elements.html") Form elements
            li
                a(href="http://localhost:4200/pages/cards.html") Cards
            li
                a(href="http://localhost:4200/pages/headers-footers.html") Headers & Footers
        ul Website pages
            li
                a(href="http://localhost:4200/pages/landing.html") Landing page
            li
                a(href="http://localhost:4200/pages/search-room.html") Search room
            li
                a(href="http://localhost:4200/pages/room-details.html") Room details
            li
                a(href="http://localhost:4200/pages/sign.html") Sign in
            li
                a(href="http://localhost:4200/pages/registration.html") Registration


