mixin checkboxButtons(options)
    if !options
        - options = {}
    .checkbox-buttons
        .checkbox-buttons__title.heading3= options.title
        .checkbox-buttons__list
            .checkbox-buttons__item
                input(class='checkbox-buttons__input' type='checkbox' id='checkbox1' name='checkbox1' value='smoke')
                label(for='checkbox1')= options.label1
            .checkbox-buttons__item
                input(class='checkbox-buttons__input' type='checkbox' id='checkbox2' name='checkbox2' value='pets')
                label(for='checkbox2')= options.label2
            .checkbox-buttons__item
                input(class='checkbox-buttons__input' type='checkbox' id='checkbox3' name='checkbox3' value='guests')
                label(for='checkbox3')= options.label3