@import '~@theme/variables.scss';
@import '~@theme/fonts.scss';
@import '~@theme/base.scss';


.checkbox-buttons {
  line-height: 18px;
  color: $dark50;
}

.checkbox-buttons__title {
  padding-top: 3px;
  padding-bottom: 18px;
}

/* для элемента input c type='checkbox' */
.checkbox-buttons__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .checkbox-buttons__input */

.checkbox-buttons__input + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  padding-bottom: 10px;
}

/* создание в label псевдоэлемента before со следующими стилями */

.checkbox-buttons__input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background: $background-color;
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* стили при наведении курсора на checkbox */
.checkbox-buttons__input:not(:disabled):not(:checked) + label:hover::before {
  border-color: $dark50;
}

/* стили для активного чекбокса (при нажатии на него) */
.checkbox-buttons__input:not(:disabled):active + label::before {
  background-color: $dark5;
  border-color: $dark5;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox-buttons__input:focus:not(:checked) + label::before {
  border-color: $dark50;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox-buttons__input:focus + label::before {
  border-color: $primary-color;
}

/* стили для чекбокса, находящегося в состоянии checked */
.checkbox-buttons__input:checked + label::before {
  background-image: url("/images/checkbox.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox-buttons__input:disabled + label::before {
  background-color: $dark5;
}
