html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cards
    body
        .cards
            .cards__logo
                include ../../components/logo/logo.pug
                +logo('dark')
            .cards__wrap
                .cards__left-column
                    .cards__room-search
                        include ../../components/room-search/room-search.pug
                    .cards__registration
                        include ../../components/registration/registration.pug
                .cards__center-column
                    .cards__booking
                        include ../../components/booking/booking.pug
                        +booking({
                            number: 888,
                            category: 'люкс',
                            price: '9 990₽',
                            sum1: '39 960₽',
                            sum2: '0₽',
                            sum3: '300₽',
                            total: '38 081₽'
                        })
                    .cards__sign-in
                        include ../../components/sign-in/sign-in.pug
                .cards__right-column
                    .cards__datepicker
                        div(class="datepicker-here date-dropdown__start" data-range="true")
                    .cards__room1
                        include ../../components/room/room.pug
                        +room({
                            number: 888,
                            category: 'люкс',
                            price: '9 990₽',
                            rate: 5,
                            reviews: 145,
                            images: ["/images/room888.jpg", "/images/room840.jpg", "/images/room980.jpg", "/images/room856.jpg"]
                        })
                    .cards__room2
                        +room({
                            number: 840,
                            price: '9 900₽',
                            rate: 4,
                            reviews: 65,
                            images: ["/images/room840.jpg", "/images/room980.jpg", "/images/room888.jpg", "/images/room856.jpg"]
                        })

