html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cards
    body
        .cards
            .cards__logo
            .cards__wrap
                .cards__left-column
                    .cards__room-search
                        include ../../components/room-search/room-search.pug
                    .cards__registration
                        include ../../components/registration/registration.pug
                .cards__center-column
                .cards__right-column
                    .cards__datepicker
                        div(class="datepicker-here date-dropdown__start" data-range="true")

